.topleft-logo
{
  vertical-align: top;
  width: 225px;
}
.topleft-logo img
{
  width: 190px
}
.topright-info
{
  border-left: 1px solid black;
  font-size: 12px;
  padding-left: 10px;
}
.invoice
{
  width: 90px;
  height: 30px;
  margin: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  font-style: italic;
  font-weight: 600;
  padding-top: 2px;
  font-size: 15pt;
  font-family: Calibre;
}

.invoice-info {
  margin-top: 10px;

}
.invoice-info {
  width: 100%;
} 
.invoice-info td {
  height: 20px;
}
.invoice-num
{
  width: 200px;
}

.student-name
{
  width: 310px;
  font-size: 12pt;
}
.class-name
{
  width: 100px;
  font-size: 12pt;
}
.month-name
{
  width:225px;
  font-size: 12pt;
}
.fee-description
{
  margin-top: 30px;
  text-align: center;
  border-collapse: collapse;
  border-color: black;
}
.fee-description td
{
  height: 30px;
}
.fee-description td:nth-child(2)
{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.note
{
  margin-top: 20px;
  width: 440px;
  font-size: 9px;
}
.note ul, .qr-note ul {margin: 0px}
.note li, .qr-note li {margin-left: -16px}

.accountant {
  width: 100px;
  border-top: 1px solid black;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.print-container
{
  position: relative;
  top: 10px;
  left: 0px;
  padding: 18px 25px;
  width: 135mm;
  /* height: 250mm; */
}

.qr-signature {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  
  position: relative;
}

.qr-image {
  width: 200px;
  border: 2px solid black;
  flex-shrink: 0;

}

.qr-image > img {
  width: 100%;
}

.qr-note {
  width: 100%;
}

@media print{
    body>div:not(.print-double-page-container){
        display: none;
    }

    .print-double-page-container{
      display: flex;
    }

    .print-double-page-container > div:first-child {
      margin-left: 40px;
    }

    .print-double-page-container > div:last-child {
      margin-left: 80px;
    }
    
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        box-shadow: initial;
        float: none;
    }
    .top-table td
    {
      border-color: transparent;
    }    
    .print-container
    {      
      top:0px;
    }
    
    .qr-signature {
      margin-bottom: 0px;
    }
}
